img{
   width: 200px 200px;
   line-height: 50px;
}

.buton{
    background-color:black;
    color: white;
    border:none;
    padding: 10px;
    text-decoration:white;
    cursor: pointer;
    transition:cubic-bezier();
    border-radius: 5px;
}

